{
  "extends": [
    "airbnb-base",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "@typescript-eslint"
  ],
  "env": {
    "node": true,
    "es6": true,
    "jest": true,
    "browser": true
  },
  "rules": {
    "@typescript-eslint/indent": ["error", 2],
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/explicit-member-accessibility": 0,
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "semi": ["error", "always"],
    "no-unused-vars": [
      1,
      {
        "vars": "all",
        "args": "after-used",
        "ignoreRestSiblings": false
      }
    ],
    "import/prefer-default-export": 0,
    "no-underscore-dangle": 0,
    "no-console": 0,
    "no-case-declarations": 0,
    "no-plusplus": 0,
    "comma-dangle": 0,
    "no-extend-native": 0,
    "quotes": 0
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts"]
      }
    }
  }
 }
